body{
        margin:0;
       padding:0;
       background:#efefef;
       font-size:16px;
      color:#777;
       font-family:sans-serif;
       font-weight=300;

}
#login-box{
position:relative;
margin:5% auto;
width:500px;
height:400px;
background:#fff;
box-shadow:0 2px 4px reba(0,0,0,0)
}

.left-box{
    position:absolute; 
    top:0;
     left:0;
    box-sizing:border-box;
    padding:40px;
   width:300px;
   height:400px;
}
  h1{

margin:0 0 20px 0;
font-weight:300;
font-size:28px;
}
 input[type="text"],
 input[type="password"]
{
    display:block;
    box-sizing:border-box;
  margin-bottom:20px;
  padding:4px;
   width:220px;
   height:32px;
   border:none;
   outline:none;
    border-bottom:1px solid #aaa;
   font-family:sans-serif;
   font-weight:400px;
   font-size:15px;
   transition: 0.2s ease;   
}

input[type="submit"]
{
    margin-bottom:28px;
    width:120px;
    height:32px;
    background:#f44336;
    border-redius:2px;
    color:#fff;
    font- family:sans-serif;
    font-weight:500;
   text-transition:uppercase;
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
background-color:ff5722;
transition:0.2s ease;

}
